.card {
  transition: box-shadow, transform, 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 270px;
  /* flex: 20%; */
  border: 3px solid rgba(255, 255, 255, 0.5);
  /* display: inblock; */
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  margin: 0px;
  padding: 0px 0px 0px 0px;
  contain: strict;
  scroll-behavior: smooth;
  align-items: center;
  position: relative;
  overflow: hidden;
  animation: fadeIn 0.3s ease-in-out backwards;
}

.card:hover {
  transform: scale(1.02);

  box-shadow: 0 0 30px rgba(22, 21, 21, 0.6);
}
.h1 {
  margin-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titulo {
  font-size: 1rem;
  /* display: block; */
  padding-top: 10px;
  margin-bottom: 0px;
  width: 80%;
  color: rgb(67, 66, 69);
  text-decoration: none;
  /*   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

:a.titulo {
  text-decoration: none;
  margin-bottom: 0px;
}

.h2 {
  font-size: 1.5rem;
  /* display: inline-block; */
  /* padding: 8px; */
  color: darkslategrey;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttonClose {
  transition: color, background, 0.2s ease;
  display: inline-block;
  position: absolute;
  justify-content: right;
  color: crimson;
  position: absolute;
  right: 20px;
  top: 10px;
  border: 1px solid tomato;
  background: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
:hover.buttonClose {
  /* box-shadow: 0 0 10px rgba(229, 4, 4, 0.4); */
  background: tomato;
  color: white;
}

.image {
  width: 100%;
  border-radius: 1rem;
  margin-top: 1rem;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.heart {
  position: absolute;
  top: 15px;
  left: 20px;
  height: 18px;
  width: 18px;
  background: #dbd5d5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0 0 0 10px;
  transform: rotate(-45deg);
  /* margin: 1rem; */
  cursor: pointer;
  box-shadow: 0 0 10px rgba(22, 21, 21, 0.7);
}

.heart.fill_color {
  background-color: #ff2727;
}

.heart::before {
  position: absolute;
  content: "";
  top: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 50%;
}

.heart:after {
  position: absolute;
  content: "";
  right: -50%;
  top: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 50%;
}

.animationheart {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  background-color: #ff2727;
  transform: rotate(360deg);
  border-radius: 0 0 0 10px;
  cursor: pointer;
  z-index: 2;
  visibility: hidden;
}

.animationheart.animation {
  animation: popup 0.8s linear;
  visibility: visible;
}

.animationheart::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: -50%;
  right: 0;
  background: inherit;
  border-radius: 50%;
}

.animationheart::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  right: -50%;
  background: inherit;
  border-radius: 50%;
}

@keyframes popup {
  100% {
    transform: scale(2) rotate(360deg);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.icon {
  position: absolute;
  right: 0px;
  color: rgb(255, 255, 255);
  font-size: 5em;
  line-height: 57px;
}
