.contenedorPrincipal {
  display: inline-block;
}

.contenedor {
  /* width: 9%; */
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  /* margin: 1rem; */
  flex-wrap: wrap;
  scroll-behavior: smooth;
}

@media (max-width: 480px) {
  .contenedor {
    margin-top: 4rem;
  }
}
