.boton {
  transition: box-shadow, color, 0.3s ease;
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid white;
  padding: 1rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.boton2 {
  transition: box-shadow, color, 0.3s ease;
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0 1rem 1rem 0;
  border: 1px solid white;
  padding: 1rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
:hover.boton {
  box-shadow: 0 0 30px rgba(231, 232, 228, 0.6);
}

:hover.boton2 {
  box-shadow: 0 0 30px rgba(231, 232, 228, 0.6);
}

.boton3 {
  transition: box-shadow, color, 0.3s ease;
  border: 0;
  background: #ad0c77da;
  box-shadow: none;
  justify-content: flex-end;
  border-radius: 0 1rem 1rem 0;
  border: 1px solid white;
  padding: 1rem;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
:hover.boton3 {
  box-shadow: 0 0 30px rgba(231, 232, 228, 0.6);
}

.boton1 {
  transition: box-shadow, color, 0.3s ease;
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 1rem;
  border: 1px solid white;
  padding: 1rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  gap: 1rem;
  text-decoration: none;
  margin: 0 0.2rem;
}
:hover.boton1 {
  box-shadow: 0 0 30px rgba(231, 232, 228, 0.6);
}

.input {
  border: 0;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: none;
  border-radius: 1rem 0 0 1rem;
  border: 1px solid white;
  padding: 1rem;
}

.logout {
  transition: box-shadow, color, 0.3s ease;
  border: 0;
  background: #ad0c0fc0;
  box-shadow: none;
  border-radius: 1rem;
  border: 1px solid white;
  padding: 1rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  gap: 1rem;
  text-decoration: none;
  margin: 0 0.2rem;
}
:hover.logout {
  box-shadow: 0 0 30px rgba(90, 5, 5, 0.6);
}

@media (max-width: 480px) {
  .input {
    border: 0;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: none;
    border-radius: 1rem 0 0 1rem;
    border: 1px solid white;
    padding: 1rem 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 30%;
  }
}
