.App {
  position: static;

  /* viewport-fit: contain; */
  text-align: center;
}

.astro {
  width: 250px;
  top: 50px;
  position: absolute;
  left: 30px;
  pointer-events: none;
  animation: float 5s ease-in-out infinite !important;
}
/* @media (prefers-reduced-motion: no-preference) {
  .astro {
    animation: float infinite 6s ease-in-out;
  }
} */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

.planeta {
  width: 600px;
  bottom: -300px;
  position: absolute;
  right: -200px;
  pointer-events: none;
  animation: rotate 50s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
  from {
    transform: rotate(-360deg);
  }
}
