.izquierda {
  background-color: rgba(181, 58, 205, 0.306);
  /* background: transparent; */
  height: 80vh;
  width: 50%;
  backdrop-filter: blur(20px);
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center, top;
}

.pantallaDividida {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.nombre {
  color: white;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}

.h2 {
  /* text-align: left; */
  /* margin: 0; */
  color: rgb(46, 30, 37);
}

.span {
  color: rgb(255, 255, 255);
  padding-left: 10px;
}

.buttonClose {
  transition: color, background, 0.2s ease;
  display: inline-block;
  justify-content: right;
  color: crimson;
  position: relative;
  right: -40%;
  top: 20px;
  border: 1px solid tomato;
  background: tomato;
  border-radius: 1rem;
  cursor: pointer;
  z-index: 9999;
  font-size: 2rem;
  padding: 2%;
}
:hover.buttonClose {
  /* box-shadow: 0 0 10px rgba(229, 4, 4, 0.4); */
  background: tomato;
  color: white;
}

@media (max-width: 480px) {
  .pantallaDividida {
    margin-top: 5rem;
  }
}
